[submodule "components/worksurface"]
	path = components/worksurface
	url = https://github.com/AlexKaiqi/loom-worksurface.git
[submodule "components/sandbox"]
	path = components/sandbox
	url = https://github.com/AlexKaiqi/ondemand-sandbox.git
[submodule "components/model-service"]
	path = components/model-service
	url = https://github.com/AlexKaiqi/model-service.git
